{% extends 'users/base.html' %}
{% load crispy_forms_tags %}


{% block content %}

    <div class="container">
        <h4 style="color:Green;text-align:center;">Welcome {{user.username}}</h4>
    <h4 style="color:Blue;text-align:center;">Your register Email id is {{user.email}}</h4>
    </div>
                  <center><h1>Choose File to Encrypt or Decrypt </h1></center>
                    <form action="/external/" method="post" enctype="multipart/form-data">
                        {%csrf_token %}
                        <div class="btn-group">
                       <center><input type="file" name="file" required></center>


                      <center> <input type="submit" value="Upload File"></center> </div>

                    </form>
<br>
<h2>{{h2}}</h2>

  <h3 style="color:skyblue;text-align:center;">First Upload the file to Server and then choice the following options.</h3>
<form action="/submits/" method="POST">
     {%csrf_token %}
    <input style="color:red;text-align:center;" type="submit" class="btn" value="Encrypt Files" name="enc">
    <input style="color:green;text-align:center;" type="submit" class="btn" value="Decrypt Files" name="dnc">
</form>
<br><br>
<h4 style="color:Blue;text-align:center;"> {{h3}}</h4>


{% endblock %}